body {
  Font-Family: 'Noto Serif', Serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #88898C;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #88898C;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #88898C;
}

.past {
  background-color: #F2EDDC;
  color: white;
}

.present {
  background-color: #D96A29;
  color: white;
}

.future {
  background-color: #69AFBF;
  color: white;
}

.saveBtn {
  border: 1px solid #88898C;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #152C40;
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.Calendar-1-hex { color: #152C40; }
.Calendar-2-hex { color: #69AFBF; }
.Calendar-3-hex { color: #F2EDDC; }
.Calendar-4-hex { color: #D96A29; }
.Calendar-5-hex { color: #8C3420; }





